:root {
    --input-border-color: var(--primary-color);
    --background-color: #E8F5E9;
    --button-color: var(--primary-color);
    --error-color: #D32F2F;
    --primary-color: #1B5E20;
    --table-header-background-color: var(--primary-color);
    --button-hover-color: #2E7D32;
}

* {
    font-family: "Apple SD Gothic Neo", serif;
}

body {
    background-color: var(--background-color);
}

input[type=submit],
button {
    background-color: var(--button-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    margin: 5px;
    padding: 10px 15px;
}

input[type=submit]:hover,
button:hover {
    background-color: var(--button-hover-color);
}

input[type=text],
input[type=search] {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
}

input[type=text].full-width {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 0;
}

.content.vertical-center {
    height: 400px;
    justify-content: center;
}

.content.horizontal-center {
    align-items: center;
}

.content > .horizontal-center {
    align-self: center;
}

.error {
    color: var(--error-color);
}

.white-background {
    background-color: white;
}

.white-border {
    padding: 15px;
    border: 2px solid white;
    border-radius: 4px;
}

.flex-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}